*{
	border: 0;
	padding: 0;
	margin: 0;
}

body {
	background-color: #999;
	width: 80%;
	margin: 0 auto;
}

header, section, footer, nav, article, aside { 
	display: block;
}

/* шапка */

header {
	background-color: #333;
	background-image: url("img/header.png");
}

/* тело */

article {
	background-color: #FFF;
}

/* подвал */

footer {
	background-color: #D1D6FA;
}

